.vs/
*.v2
*.vsidx
[Bb]in/
[Oo]bj/
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.AssemblyInfo.cs
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.AssemblyInfo.cs
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.AssemblyInfoInputs.cache
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.assets.cache
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.csproj.AssemblyReference.cache
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.GeneratedMSBuildEditorConfig.editorconfig
Back/Beekepeer/obj/Debug/net8.0/Beekepeer.GlobalUsings.g.cs
Back/Beekepeer/.vs/ProjectEvaluation/beekepeer.metadata.v9.bin
Back/Beekepeer/.vs/ProjectEvaluation/beekepeer.projects.v9.bin
Back/Beekepeer/.vs/ProjectEvaluation/beekepeer.strings.v9.bin
**/appsettings.Development.json