/* Estilos compartidos para las tablas de historial */
.header-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.active-filter {
    background-color: var(--dark-brown) !important;
    color: var(--white) !important;
}

.results-count, .items-per-page label {
    color: var(--white);
    font-weight: 900;
}

.page-info {
    background-color: var(--dark-brown);
    color: var(--white);
    padding: 8px 15px;
}

.filter-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn-clear-filters {
    background-color: var(--black) !important;
    color: var(--white) !important;
    width: 180px;
    font-size: 0.85rem;
}