
.overlay-content {
    position: relative;
    z-index: 2;
    max-width: 400px;
}

.bee-icon img {
    width: 80px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg); /* Hace el icono dorado/blanco */
    margin-bottom: 20px;
}

/* PANEL DERECHO: FORMULARIO */

@media (max-width: 900px) {
    .left-panel { display: none; }
}