.login-container, .crearUsuario-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper i {
    position: absolute;
    left: 15px;
    color: #a1887f;
}

.input-wrapper input {
    padding: 14px 15px 14px 45px;
}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-text {
    margin-top: 35px;
    color: #5d4037;
}