.btn {
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--dark-brown);
    color: var(--white);
    border: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: var(--dark-gray);
}